# Certificates & Keys (NEVER COMMIT)
certs/
*.crt
*.key
*.pem
*.p12
*.pfx

# Binaires
bin/*
!bin/*.sh
!bin/post-feature*.sh
!bin/setup-hooks.sh
freekiosk-hub

# Configuration & Secrets
.env
*.env

# Base de données
*.db
*.db-journal
*.db-shm
*.db-wal

# Logs & OS
*.log
.DS_Store

*_templ.go

media
media/*
upload
upload/*
.gstack/
